table {
    display: table;
}
table tr {
    display: table-cell;
}
table tr td {
    display: block;
}

.list{
    text-align: right;
}
td, th {
    vertical-align: top;
    border-top: 1px solid #ccc;
    height: 100px;
    padding:10px;
    width:100%;
  }
  